# --- Python Standard ---
__pycache__/
*.py[cod]
*$py.class
*.so
.python-version

# --- Virtual Environments ---
.venv/
venv/
env/
bin/
lib/
develop-eggs/
dist/
build/

# --- Environment variables ---
.env
.env.*
!.env.example

# --- IDEs ---
.idea/
.idea
.vscode/
*.swp
*.swo
*.sublime-project
*.idea
*.iml*
.junie

# --- Tools and testing ---
.pytest_cache/
.coverage
htmlcov/
.nox/
.tox/
.mypy_cache/
.ruff_cache/

# --- Data bases ---
*.db
*.sqlite
*.sqlite3
# Si usas dumps de postgres localmente
*.sql
*.dump

# --- OS ---
.DS_Store
Thumbs.db
desktop.ini

# --- test HTTPS ---
test_main.http
*.http

#